<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
	<link href="/Content/bootstrap.min.css" rel="stylesheet">
	<link href="/Content/site.css" rel="stylesheet">
	@RenderSection("css", required: false)
	<script type="text/javascript" src="/Scripts/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="/Scripts/bootstrap.v3.min.js"></script>
	<script type="text/javascript" src="/Scripts/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/Scripts/jquery.thermometer.js"></script>
	@RenderSection("scripts", required: false)
</head>
<body>
	<!-- Facebook script -->
	<div id="fb-root"></div>
	<script>(function (d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
	<!-- Facebook script end -->

    <div class="header">
		<div class="min-container">
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				  <a class="navbar-brand" href="http://www.dot.ga.gov"><img src="/Content/img/gdot_logo.gif" class="logo" alt="Georgia Department of Transportation" /></a>
				</div>
				<div id="navbar2" class="navbar-collapse collapse">
				  <ul id="shortmenu" class="nav navbar-nav navbar-right">
					<li><a href="http://www.dot.ga.gov">Home</a></li>
					<li><a href="#">About GDOT</a></li>
					<li><a href="#">Board</a></li>
					<li><a href="#">Employment</a></li>
					<li><a href="#">Contact Us</a></li>
					<li><a href="#">Site Map</a></li>
				  </ul><br style="clear: both" />
				  <form class="navbar-form navbar-right">
					<input type="text" class="form-control" placeholder="Search...">
				  </form>
				</div>
		</div>
    </div>
	<div class="min-container">
		<div class="row">
			<div class="col-md-12">
				<nav class="navbar navbar-blue">
					<div class="container-fluid">
					  <div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						  <span class="sr-only">Toggle navigation</span>
						  <span class="icon-bar"></span>
						  <span class="icon-bar"></span>
						  <span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" style="padding: 0px" href="http://www.dot.ga.gov/AboutGeorgia/Pages/TravelSmart.aspx"><img src="/Content/img/travelsmart_navlogo.png" alt="Travel Smart" class="travelsmart" /></a>
					  </div>
					 <div id="navbar" class="navbar-collapse collapse">
						<ul class="subnav nav navbar-nav">
						  <li><a href="http://www.dot.ga.gov/DS">Drive Smart</a></li>
						  <li class="active"><a href="http://www.dot.ga.gov/PS">Partner Smart</a></li>
						  <li><a href="http://www.dot.ga.gov/BS">Build Smart</a></li>
						  <li class="dropdown">
							<a href="http://www.dot.ga.gov/IS" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Invest Smart <!--<span class="caret"></span>--></a><!--
							<ul class="dropdown-menu">
							  <li><a href="#">Action</a></li>
							  <li><a href="#">Another action</a></li>
							  <li><a href="#">Something else here</a></li>
							  <li role="separator" class="divider"></li>
							  <li class="dropdown-header">Nav header</li>
							  <li><a href="#">Separated link</a></li>
							  <li><a href="#">One more separated link</a></li>
							</ul>-->
						  </li>
						</ul>
					  </div><!--/.nav-collapse -->
					</div><!--/.container-fluid -->
			  </nav>
			</div>
		</div>
		<br />

		<div class="row">
			<div class="col-md-12">
				<a href="http://www.dot.ga.gov/">Home</a> -> <a href="http://www.dot.ga.gov/PS">Partner Smart</a> -> Local Government
			</div>
		</div>
<br />

		<div class="row">
			<div class="col-md-3">
				<!-- Side nav column-->
				<ul class="nav nav-sidebar">
					<li><a href="#">Local Administered Projects (LAP) Manual</a></li>
					<li><a href="#">Local Maintenance & Improvement Grant (LMIG)</a></li>
					<li><a href="#">Local Technical Assistance Program (LTAP)</a></li>
					<li><a href="/Home" aria-expanded="true">Transportation Investment Act (TIA) <span class="caret"></span></a>
					<ul id="tiaMenu" role="menu">
						<li>@Html.ActionLink("TIA Projects", "Index", "Project")</li>
						<li>@Html.ActionLink("TIA Program Fact Sheet", "FactSheet", "Home")</li>
						<li>@Html.ActionLink("TIA Project Photos", "Gallery", "Home")</li>
						<li><a href="#">Program Info & Reports</a></li>
						<li>@Html.ActionLink("Press Room", "News", "Home")</li>
						<li>@Html.ActionLink("Procurement & Contracting", "Procurement", "Home")</li>
						<li>@Html.ActionLink("Frequently Asked Questions", "FAQ", "Home")</li>
					  </ul>
						</li>
				  </ul>
				
				<div style="width: 90%">
					<!-- Twitter Embed Code -->
					<a class="twitter-timeline"  href="https://twitter.com/GADeptofTrans" data-widget-id="628058046166470657">Tweets by GADeptofTrans</a>
					<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
					<!-- Twitter Embed Code End-->
					<br />
					
					<!-- Facebook Embed Code -->
					<div class="fb-page" data-href="https://www.facebook.com/transportationinvestmentact" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/transportationinvestmentact"><a href="https://www.facebook.com/transportationinvestmentact">Georgia Transportation Investment Act - TIA</a></blockquote></div></div>
					<!-- Facebook Embed Code End -->
				</div>
				<!-- Side nav column End-->
			</div>
			<div class="col-md-9">
				<div class="row">
				<!-- Main content column -->
				@RenderBody()

				</div>
			</div>
		</div>
	</div>
</body>
</html>
