@section scripts {
	<script type="text/javascript">
		function showInfo(divId) {
			hideAll();
			$("#" + divId).show();

			if (divId == "hogainfo") {
				$('#thermo').thermometer('setValue', parseInt('@ViewBag.hogaTaxCollectedNum'));
				$('#thermo').thermometer('setMaxValue', parseInt('@ViewBag.hogaTotalFundsBudgetedNum'));
				$('#thermo').thermometer('setTopText', '$' + '@ViewBag.hogaTotalFundsBudgetedNum');
				$('#thermo').thermometer('setMiddleText', '$' + parseInt('@ViewBag.hogaTotalFundsBudgetedNum' / 2));
				$('#thermo').thermometer('setLiquidColour', '#608bb4');
				$('#datapanel').attr('class','panel panel-hoga');
				$("#hogatitle").show();
				console.log("----------------");
				console.log($('#thermo').thermometer.startValue);
				console.log($('#thermo').thermometer.maxValue);
			}
			else if (divId == "csrainfo") {
				$('#thermo').thermometer('setValue', parseInt('@ViewBag.csraTaxCollectedNum'));
				$('#thermo').thermometer('setMaxValue', parseInt('@ViewBag.csraTotalFundsBudgetedNum'));
				$('#thermo').thermometer('setTopText', '$' + '@ViewBag.csraTotalFundsBudgetedNum');
				$('#thermo').thermometer('setMiddleText', '$' + parseInt('@ViewBag.csraTotalFundsBudgetedNum' / 2));
				$('#thermo').thermometer('setLiquidColour', '#B3608B');
				$('#datapanel').attr('class', 'panel panel-csra');
				$("#csratitle").show();
				console.log("----------------");
				console.log($('#thermo').thermometer.startValue);
				console.log($('#thermo').thermometer.maxValue);
			}
            else if(divId == "rvinfo") {
				$('#thermo').thermometer('setValue', parseInt('@ViewBag.rvTaxCollectedNum'));
				$('#thermo').thermometer('setMaxValue', parseInt('@ViewBag.rvTotalFundsBudgetedNum'));
				$('#thermo').thermometer('setTopText', '$' + '@ViewBag.rvTotalFundsBudgetedNum');
				$('#thermo').thermometer('setMiddleText', '$' + parseInt('@ViewBag.rvTotalFundsBudgetedNum' / 2));
				$('#thermo').thermometer('setLiquidColour', '#f79646');
				$('#datapanel').attr('class', 'panel panel-rvly');
				$("#rvtitle").show();
				console.log("----------------");
				console.log($('#thermo').thermometer.startValue);
				console.log($('#thermo').thermometer.maxValue);
			}
            else if(divId == "sogainfo") {
				$('#thermo').thermometer('setValue', parseInt('@ViewBag.sogaTaxCollectedNum'));
				$('#thermo').thermometer('setMaxValue', parseInt('@ViewBag.sogaTotalFundsBudgetedNum'));
				$('#thermo').thermometer('setTopText', '$' + '@ViewBag.sogaTotalFundsBudgetedNum');
				$('#thermo').thermometer('setMiddleText', '$' + parseInt('@ViewBag.sogaTotalFundsBudgetedNum' / 2));
                $('#thermo').thermometer('setLiquidColour', '#A4BF4F');
				$('#datapanel').attr('class', 'panel panel-soga');
				$("#sogatitle").show();
				console.log("----------------");
				console.log($('#thermo').thermometer.startValue);
				console.log($('#thermo').thermometer.maxValue);
			}

		}
		function hideAll() {
			$("#csrainfo").hide();
            $("#hogainfo").hide();
            $("#rvinfo").hide();
            $("#sogainfo").hide();
			$("#csratitle").hide();
			$("#hogatitle").hide();
            $("#rvtitle").hide();
            $("#sogatitle").hide();
		}
		//$("area").mouseover(hideAll());
		
		$(function () {
			$('#thermo').thermometer({
				startValue: parseInt('@ViewBag.hogaTaxCollectedNum'),
				minValue: 0,
				maxValue: parseInt('@ViewBag.hogaTotalFundsBudgetedNum'),
				topText: '$' + '@ViewBag.hogaTotalFundsBudgetedNum',
				middleText: '$' + parseInt('@ViewBag.hogaTotalFundsBudgetedNum' / 2),
				bottomText: 0,
				liquidColour: '#608bb4'
			});
		});

	</script>
}
@{
    ViewBag.Title = "Projects by Region";
}

<h2>View Projects By Region Below</h2>
<br />
<div class="row">
	<div class="col-lg-6 col-md-12">
		<p><img id="tiaregions" src="/Content/img/GA_Regions.png" border="0" width="500" height="590" usemap="#regionmap" alt="State map of Georgia highlighting four regions: River Valley, Central Savannah River Area, Heart of Georgia Altamaha, and Southern Georgia" /></p>

        <map name="regionmap" id="regionmap">
            <area id="rvly" alt="River Valley" title="River Valley" data-toggle="tooltip" data-placement="left" href="/Project/List/rvly" shape="poly" coords="192,295,192,387,90,390,55,435,0,435,0,225,125,225" onmouseover="showInfo('rvinfo');" />
            <area id="csra" alt="Central Savannah River Area" title="Central Savannah River Area" href="/Project/List/csra" shape="poly" coords="270,170,300,120,330,130,440,240,430,280,405,300,385,255,320,255,295,250,270,210" onmouseover="showInfo('csrainfo');" />
            <area id="hoga" alt="Heart of Georgia Altamaha" title="Heart of Georgia Altamaha" href="/Project/List/hoga" shape="poly" coords="225,310,230,297,294,258,363,257,389,264,436,367,405,405,444,452,427,477,385,473,318,416,203,391,203,344,225,340" onmouseover="showInfo('hogainfo');" />
            <area id="soga" alt="Southern Georgia" title="Southern Georgia" href="/Project/List/soga" shape="poly" coords="150,397,250,405,355,455,320,590,290,590,290,570,140,555,130,410" onmouseover="showInfo('sogainfo');" />
        </map>
	</div>
	<div class="col-lg-6 col-md-12">
		<div id="datapanel" class="panel panel-hoga">
            <div class="panel-heading">
                <div id="hogatitle">
                    <h3 class="panel-title">Heart of Georgia Altamaha</h3>
                </div>
                <div id="csratitle">
                    <h3 class="panel-title">Central Savannah River Area</h3>
                </div>
                <div id="rvtitle">
                    <h3 class="panel-title">River Valley</h3>
                </div>
                <div id="sogatitle">
                    <h3 class="panel-title">Southern Georgia</h3>
                </div>
            </div>
            <div class="panel-body">
                <div style="text-align: center; width: 100%;">
                    <div id="thermo" style="width: 80px; margin: auto"></div>
                </div>

                <div id="hogainfo">
                    <p>TIA Tax Revenue Collected to Date: @ViewBag.hogaTaxCollected</p>
                    <p>TIA Funds Budgeted (2011 Dollars): @ViewBag.hogaTotalFundsBudgeted</p>
                    <p>Total Expenditure to Date: @ViewBag.hogaFundsSpent</p>
                    <p>Total Number of TIA Projects: @ViewBag.hogaTotalProjects</p>

                </div>
                <div id="csrainfo">
                    <p>TIA Tax Revenue Collected to Date: @ViewBag.csraTaxCollected</p>
                    <p>TIA Funds Budgeted (2011 Dollars): @ViewBag.csraTotalFundsBudgeted</p>
                    <p>Total Expenditure to Date: @ViewBag.csraFundsSpent</p>
                    <p>Total Number of TIA Projects: @ViewBag.csraTotalProjects</p>
                </div>
                <div id="rvinfo">
                    <p>TIA Tax Revenue Collected to Date: @ViewBag.rvTaxCollected</p>
                    <p>TIA Funds Budgeted (2011 Dollars): @ViewBag.rvTotalFundsBudgeted</p>
                    <p>Total Expenditure to Date: @ViewBag.rvFundsSpent</p>
                    <p>Total Number of TIA Projects: @ViewBag.rvTotalProjects</p>
                </div>
                <div id="sogainfo">
                    <p>TIA Tax Revenue Collected to Date: @ViewBag.sogaTaxCollected</p>
                    <p>TIA Funds Budgeted (2011 Dollars): @ViewBag.sogaTotalFundsBudgeted</p>
                    <p>Total Expenditure to Date: @ViewBag.sogaFundsSpent</p>
                    <p>Total Number of TIA Projects: @ViewBag.sogaTotalProjects</p>
                </div>
            </div> <!-- panel body -->
		</div> <!-- panel container -->
	</div> <!-- column -->
</div> <!-- row -->



