@using GDOT_TIA.Models
@model GDOT_TIA.Models.Region
@{
    ViewBag.Title = @Model.Name + " Project List";
}
@section scripts {
	<script type="text/javascript">
		$(function () {
			$("select").change(function () {
				var c= $('#countyList option:selected').val();
				var b= $('#bandList option:selected').val();
				var s= $('#statusList option:selected').val();
				var t= $('#typeList option:selected').val();
				$.ajax({
					url: "/Project/Filter?bandString=" + b + "&countyString=" + c + "&status=" + s + "&type=" + t + "&regionCode=@Model.Abbreviation",
					type: "GET",
					/**/error: function (response) {
						alert("error " + response.toString());
					},
					success: function(partialView) {
						$('#plist').html('');
						$('#plist').html(partialView);
					}
				});
			});
			@{
				var startValue= Model.TotalRevenueCollected / 1000000;
			}
			$('#thermo3').thermometer({
				startValue: '@startValue',
				minValue: 0,
				maxValue: @Model.GetMaxValue ,
				topText: "$@Model.GetMaxValue",
				middleText: "$@(Model.GetMaxValue / 2)",
				bottomText: 0,
				liquidColour: '@Model.GetColor'
			});
		});

	</script>
}

<h2>@Model.Name Project List</h2>

<div class="row">
	<div class="col-md-4">
		<p style="font-size: 0.85em; font-weight: bold">
            <span class="blue">Total Projects:</span> <span class="@Model.Abbreviation">@Model.TotalProjects</span><br />
			<span class="blue">Projects Under Construction:</span> <span class="@Model.Abbreviation">@Model.TotalConstructionProjects</span><br />
			<span class="blue">Projects Completed:</span> <span class="@Model.Abbreviation">@Model.TotalFinishedProjects</span><br />
			<span class="blue">TIA Funds Budgeted (@Model.DollarYear  Dollars):</span>  <span class="@Model.Abbreviation">@Model.TotalFundsBudgeted.ToString("C2")</span><br />
			<span class="blue">Total Expenditure to Date: </span> <span class="@Model.Abbreviation">@Model.TotalFundsSpent.ToString("C2")</span>
        </p>
	</div>
	<div class="col-md-3">
		<div style="text-align: center; width: 100%;">
			<div id="thermo3" style="width: 80px; margin: auto"></div>
		</div>
		<p style="text-align: center; font-weight: bold"><span class="blue">Tax Revenue Collected to Date</span><br />
			<span class="@Model.Abbreviation">@Model.TotalRevenueCollected.ToString("C2")</span>
		</p>
	</div>
	
	<div class="col-md-5"></div>
</div>


<p>Filter projects by:</p>

<div class="row">
	<div class="col-md-3 col-sm-6">
		<div class="form-group">
			<label for="countyList">County</label><br />
			<select id="countyList" class="form-control">
				<option value="">All</option>
				@{
					foreach (string c in Model.Counties)
					{
						<option value="@c">@c County</option>
}

				}
			</select>
		</div>
	</div>
	<div class="col-md-3 col-sm-6">
		<div class="form-group">
			<label for="bandList">Band</label><br />
			<select id="bandList" class="form-control" onchange="test(); FilterSelectionChanged($('#countyList option:selected').val(), $('#bandList option:selected').val(), $('#statusList option:selected').val(), $('#typeList option:selected').val())">
                <option value="">All</option>
                @if (Model.Abbreviation == Region.RegionAbbrs.soga)
                {
                    <option value="01">Band 1: 2018 to 2021</option>
                    <option value="02">Band 2: 2022 to 2024</option>
                    <option value="03">Band 3: 2025 to 2028</option>
                }
                else
                {
                    <option value="01">Band 1: 2013 to 2015</option>
                    <option value="02">Band 2: 2016 to 2019</option>
                    <option value="03">Band 3: 2020 to 2022</option>
                }
                <option value="Multiple">Multi-Band</option>
			</select>
		</div>
	</div>
	<div class="col-md-3 col-sm-6">
		<div class="form-group">
			<label for="typeList">Project Type</label><br />
            <select id="typeList" class="form-control" onchange="FilterSelectionChanged($('#countyList option:selected').val(), $('#bandList option:selected').val(), $('#statusList option:selected').val(), $('#typeList option:selected').val())">
				<option value="">All</option>
				@foreach (FilterItem filterItem in FilterItem.GetProjectTypes)
				{
					<option value="@filterItem.Id">@filterItem.Display</option>
				}
			</select>
		</div>
	</div>
	<div class="col-md-3 col-sm-6">
		<div class="form-group">
			<label for="statusList">Status</label><br />
			<select id="statusList" class="form-control" onchange="FilterSelectionChanged($('#countyList option:selected').val(), $('#bandList option:selected').val(), $('#statusList option:selected').val(), $('#typeList option:selected').val())">
				<option value="">All</option>
				@foreach (FilterItem filterItem in FilterItem.GetStatuses)
				{
					<option value="@filterItem.Id">@filterItem.Display</option>
				}
			</select>
		</div>
	</div>
</div>

<br />
<div id="plist">@Html.Partial("_ProjectList", Model.GetProjects("","",null,null))</div>



