@{
    ViewBag.Title = "Transportation Investment Act of 2010";
    Layout = "~/Views/Shared/_Layout_Index.cshtml";
}

@section facebook {
    <!-- Facebook script -->
    <div id="fb-root"></div>
    <script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <!-- Facebook script end -->
}


<br />

<div class="well" style="text-align: center">
    <h2>Program Overview</h2>
    In 2012, voters in three Georgia regions - River Valley (RV), Central Savannah River Area (CSRA)
    and the Heart of Georgia Altamaha (HOGA) - approved a 10-year one percent sales tax to fund regional
    and local transportation improvements. The Southern Georgia (SG) Region passed the legislation in 2018.
    Prior to the votes, regional  roundtables of local elected officials, with significant public input,
    selected projects for each region’s Approved Investment List. Combined, these list represent 1,023
    TIA-funded projects. TIA tax collections will continue through 2022 for the original three regions,
    and until 2028 in the SG Region. GDOT is responsible for the management of the budget, schedule,
    execution and delivery of all projects contained in the Approved Investment Lists.
</div>

<div class="row">
    <div class="col-lg-6">
        <div style="max-width: 490px; margin: auto">
            <h3 style="text-align: center">TIA by Region</h3>
            <div style="position: relative">
                <div class="callout callout-rvly" onclick="window.open('/Project/List/rvly', '_self')">
                    <h4>River Valley</h4>
                    <p class="withI">
                        TIA Funds Budgeted (2011 Dollars):<br />
                        @ViewBag.rv.TotalFundsBudgeted.ToString("C")
                    </p>
                    <p class="withI">
                        TIA Revenue Collected to Date:<br />
                        @ViewBag.rv.TotalRevenueCollected.ToString("C")
                    </p>
                    <p>Total Number of TIA Projects = @ViewBag.rv.TotalProjects</p>
                </div>
                <div class="callout callout-csra" onclick="window.open('/Project/List/csra', '_self')">
                    <h4>Central Savannah River Area</h4>
                    <p class="withI">
                        TIA Funds Budgeted (2011 Dollars):<br />
                        @ViewBag.csra.TotalFundsBudgeted.ToString("C")
                    </p>
                    <p class="withI">
                        TIA Revenue Collected to Date:<br />
                        @ViewBag.csra.TotalRevenueCollected.ToString("C")
                    </p>
                    <p>Total Number of TIA Projects = @ViewBag.csra.TotalProjects</p>
                </div>
                <div class="callout callout-hoga" onclick="window.open('/Project/List/hoga', '_self')">
                    <h4>Heart of Georgia Altamaha</h4>
                    <p class="withI">
                        TIA Funds Budgeted (2011 Dollars):<br />
                        @ViewBag.hoga.TotalFundsBudgeted.ToString("C")
                    </p>
                    <p class="withI">
                        TIA Revenue Collected to Date:<br />
                        @ViewBag.hoga.TotalRevenueCollected.ToString("C")
                    </p>
                    <p>Total Number of TIA Projects = @ViewBag.hoga.TotalProjects</p>
                </div>
                <div class="callout callout-soga" onclick="window.open('/Project/List/soga', '_self')">
                    <h4>Southern Georgia</h4>
                    <p class="withI">
                        TIA Funds Budgeted (2011 Dollars):<br />
                        @ViewBag.soga.TotalFundsBudgeted.ToString("C")
                    </p>
                    <p class="withI">
                        TIA Revenue Collected to Date:<br />
                        @ViewBag.soga.TotalRevenueCollected.ToString("C")
                    </p>
                    <p>Total Number of TIA Projects = @ViewBag.soga.TotalProjects</p>
                </div>
                <img id="tia-regions" src="/Content/img/GA_Regions_sm.png" alt="State map of Georgia highlighting four regions: River Valley, Central Savannah River Area, Heart of Georgia Altamaha, and Southern Georgia" usemap="#regions" />
                <!---->
            </div>

            <map name="regions" id="regions">
                <area alt="Link to River Valley project page" title="River Valley" href="/Project/List/rvly" shape="poly" coords="0,170,150,170,150,295,85,295,85,335,0,335" />
                <area alt="Link to Central Savannah River Area project page" title="Central Savannah River Area" href="/Project/List/csra" shape="poly" coords="215,95,260,95,340,180,325,220,310,220,296,198,277,195,220,192,195,145" />
                <area alt="Link to Heart of Georgia Altamaha project page" title="Heart of Georgia Altamaha" href="/Project/List/hoga" shape="poly" coords="277,196,296,199,335,280,315,310,340,340,320,375,225,320,154,299,155,260,175,220,220,196" />
                <area alt="Link to Southern Georgia project page" title="Southern Georgia" href="/Project/List/soga" shape="poly" coords="100,305,180,310,207,318,275,352,254,449,224,449,220,435,105,425" />
            </map>
        </div>
    </div>

    <div class="col-lg-6">
        <br />
        <h3 style="text-align: center"><span class="blue">Tax Revenue Collected to Date</span><br />
            <span class="green">@ViewBag.totalTaxRevenueCollectedString</span>
        </h3>
        <p style="font-size: 1em; font-weight: bold; max-width: 25em; margin: auto">
            <span class="blue">Total Projects:</span> <span class="green">@ViewBag.totalProjects</span><br />
            <span class="blue">Projects Under Construction:</span> <span class="green">@ViewBag.totalConstructionProjects</span><br />
            <span class="blue">Projects Completed:</span> <span class="green">@ViewBag.totalFinishedProjects</span><br />
            <span class="blue">TIA Funds Budgeted (2011 Dollars):</span> <span class="green">@ViewBag.totalFundsBudgeted</span><br />
            <span class="blue">Total Expenditure to Date:</span> <span class="green">@ViewBag.totalExpenditure</span>
        </p>
        <br />
        <div style="text-align: center; width: 100%;">
            <div id="thermo1" style="width: 300px; margin: auto"></div>
        </div>
        <script>
            $('#thermo1').thermometer({
                height: 300,
                width: 350,
                startValue: '@ViewBag.totalTaxRevenueCollected',
					minValue: 0,
					maxValue: 1200,
					topText: "$1200",
					middleText: "$600",
					bottomText: "$0"
				});
        </script>

    </div>
</div>
<br />
<br />
<div class="row well" style="margin-bottom: 0; padding-top: 20px; padding-bottom: 20px">
    <div class="col-sm-6 col-md-6">
        <!-- Twitter Embed Code -->
        <div style="margin: auto; max-width: 500px">
            <a class="twitter-timeline" href="https://twitter.com/TIAatGDOT" data-widget-id="628058046166470657">Tweets by @@TIAatGDOT</a>
            <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>

        </div>
        <!-- Twitter Embed Code End-->
    </div>

    <div class="col-sm-6 col-md-6">
        <!-- Facebook Embed Code -->
        <div style="margin: auto; max-width: 500px">
            <div class="fb-page" data-width="500" data-href="https://www.facebook.com/transportationinvestmentact" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true">
                <div class="fb-xfbml-parse-ignore">
                    <blockquote cite="https://www.facebook.com/transportationinvestmentact"><a href="https://www.facebook.com/transportationinvestmentact">Georgia Transportation Investment Act - TIA</a></blockquote>
                </div>
            </div>
        </div>
        <!-- Facebook Embed Code End -->
    </div>
</div>
