@using GDOT_TIA.Models
@model GDOT_TIA.Models.ProjectPage
@{
    ViewBag.Title = "CSRA Project List";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}
@section scripts {
	<script type="text/javascript">
		$(function () {
			$("select").change(function () {
				var c= $('#countyList option:selected').val();
				var b= $('#bandList option:selected').val();
				var s= $('#statusList option:selected').val();
				var t= $('#typeList option:selected').val();
				$.ajax({
					url: "/Project/Filter?bandString=" + b + "&countyString=" + c + "&statusString=" +s + "&typeString=" + t + "&region=" + 0,
					type: "GET",
					/**/error: function (response) {
						alert("error " + response.toString());
					},
					success: function(partialView) {
						$('#plist').html('');
						$('#plist').html(partialView);
					}
				});
			});
		});

	</script>
}

<h2>Central Savannah River Project List</h2>

<p>Filter projects by:</p>

<div class="row">
	<div class="col-md-2">
		<label for="countyList">County</label>
		<select id="countyList">
			<option value="">All</option>
			@{
				foreach (County c in Model.AllCounties)
				{
					<option value="@c.Code">@c.Description</option>
				}
				
			}
		</select>
	</div>
	<div class="col-md-2">
		<label for="bandList">Band</label>
		<select id="bandList" onchange="test(); FilterSelectionChanged($('#countyList option:selected').val(), $('#bandList option:selected').val(), $('#statusList option:selected').val(), $('#typeList option:selected').val())">
			<option value="">All</option>
			@{

				foreach (Band b in Model.AllBands)
				{
					<option value="@b.Code">@b.Description</option>
				}
			}

		</select>

	</div>
	<div class="col-md-2">
		<label for="typeList">Project Type</label>
		<select id="typeList" onchange="FilterSelectionChanged($('#countyList option:selected').val(), $('#bandList option:selected').val(), $('#statusList option:selected').val(), $('#typeList option:selected').val())">
			
			<option value="">All</option>
			@{

				foreach (ProjectTypes t in Model.AllProjectTypes)
				{
					<option value="@t.FullCode">@t.Description</option>
				}
			}
		</select>

	</div>
	<div class="col-md-2">
		<label for="statusList">Status</label>
		<select id="statusList" onchange="FilterSelectionChanged($('#countyList option:selected').val(), $('#bandList option:selected').val(), $('#statusList option:selected').val(), $('#typeList option:selected').val())">
			
			<option value="">All</option>
			@{

				foreach (ProjectStatus s in Model.AllProjectStatuses)
				{
					<option value="@s.Code">@s.Description</option>
				}
			}
		</select>

	</div>
</div>
<br />
<div id="plist">@Html.Partial("_ProjectList", Model)</div>

<!--/**
@{
	if (Model.AllProjects.Count < 1) {
		<div class="row">
			<div class="col-md-12">
				<div class="alert alert-info" role="alert">No projects found</div>
			</div>
		</div>
	}
	
	else {
		<div class="row">
			<div class="col-md-12">
				<div class="alert alert-success" role="alert">@Model.AllProjects.Count projects found</div>
			</div>
		</div>
	}
}
	<br />
	
	<div id="project-container">
@{
	foreach (Project p in Model.AllProjects) {
		<section>
			<div class="row row-eq-height">
				<div class="col-md-8">
					<h2>@p.projectName</h2>
				</div>
				@if(p.projectPage != "") {
					<div class="col-md-4 text-right" style="vertical-align: bottom"><br />
						<p class="text-right"><a href="/Content/pdf/@p.projectPage">view project page</a></p>
					</div>
				}
				</div><br />
				<div class="row">
					<div class="col-md-4">
						<p><strong>PI No:</strong> @p.pino</p>
						<p><strong>Regional Project Id:</strong> @p.regionalProjectId</p>
						<p><strong>County:</strong> @p.county</p>
						<p><strong>Congressional District:</strong> @p.congressionalDistrict</p>
					</div>
					<div class="col-md-4">
						<p><strong>Regional Commission:</strong> @p.regionalCommission</p>
						<p><strong>Project Type:</strong> @p.projectType</p>
						<p><strong>Project Progress Photos:</strong> @p.progressPhotos</p>
						<p><strong>Band:</strong> @p.band</p>
					</div>
					<div class="col-md-4">
						<p><strong>Original Project Budged:</strong> @p.originalBudget</p>
						<p><strong>Invoiced to date:</strong> @p.invoicedToDate</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p><strong>Project Description: </strong>@p.description</p>
					</div>
				</div>
			</section>
		}
	}
}</div>

<br />**/-->


