@section scripts {
	<script type="text/javascript">
		function showInfo(divId) {
			hideAll();
			$("#" + divId).show();
		}
		function hideAll() {
			$("#csrainfo").hide();
			$("#hogainfo").hide();
			$("#rvinfo").hide();
		}
		$("area").mouseover(hideAll());

		$(function () {
			$('#hogaThermo').thermometer({
				startValue: '@ViewBag.hogaTaxCollectedNum',
				minValue: 0,
				maxValue: 300,
				topText: "$300",
				middleText: "$150",
				bottomText: 0,
				liquidColour: '#608bb4'
			});

			$('#csraThermo').thermometer({
				startValue: '@ViewBag.csraTaxCollectedNum',
				minValue: 0,
				maxValue: 600,
				topText: "$600",
				middleText: "$300",
				bottomText: 0,
				liquidColour: '#9bbb59'
			});
			$('#rvThermo').thermometer({
				startValue: '@ViewBag.rvTaxCollectedNum',
				minValue: 0,
				maxValue: 600,
				topText: "$600",
				middleText: "$300",
				bottomText: 0,
				liquidColour: '#f79646'
			});
		});

	</script>
}
@{
    ViewBag.Title = "Projects by Region";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<h1>View Projects By Region Below</h1>
<br />
<div class="row">
	<div class="col-md-6">
		<p><img id="tiaregions" src="/Content/img/tia_regions.png" border="0" width="500" height="590" usemap="#regionmap" alt="" onmouseout="hideAll()" /></p>

		<map name="regionmap" id="regionmap">
			<area id="rv" alt="River Valley" title="River Valley" data-toggle="tooltip" data-placement="left" href="/Project/RV"  shape="rect" coords="2,229,201,449" onmouseover="showInfo('rvinfo');" onmouseout="hideAll()" />
			<area id="csra" alt="Central Savannah River Area" title="Central Savannah River Area" href="/Project/CSRA" shape="poly" coords="302,256,288,261,274,275,236,226,283,129,331,122,440,241,427,295,407,297,384,261" onmouseover="showInfo('csrainfo');" onmouseout="hideAll()" />
			<area  alt="Heart of Georgia Altamaha" title="Heart of Georgia Altamaha" href="/Project/HOGA" shape="poly" coords="201,346,203,412,294,420,384,479,440,480,439,355,409,297,389,266,362,260,292,258,227,292" onmouseover="showInfo('hogainfo');" onmouseout="hideAll()" />
		</map>
	</div>
	<div class="col-md-6">
		<div id="hogainfo">
			<div class="panel panel-hoga">
				<div class="panel-heading">
					<h2 class="panel-title">Heart of Georgia Altamaha</h2>
				</div>
				<div class="panel-body">
					<!--<p>Tax Revenue Collected to date:@ViewBag.</p>-->
					<div style="text-align: center; width: 100%;">
						<div id="hogaThermo" style="width: 80px; margin: auto"></div>
					</div>
					<p>TIA Funds Bugedted (2011 Dollars): @ViewBag.hogaTaxCollected</p>
					<p>Total Number of TIA Projects: @ViewBag.hogaTotalProjects</p>
				</div>
			</div>
		</div>
		<div id="csrainfo">
			<div class="panel panel-csra">
				<div class="panel-heading">
					<h2 class="panel-title">Central Savannah River Area</h2>

				</div>
				<div class="panel-body">
					<!--
					<p>Tax Revenue Collected to date:@ViewBag.</p>-->
					<div style="text-align: center; width: 100%;">
						<div id="csraThermo" style="width: 80px; margin: auto"></div>
					</div>
					<p>TIA Funds Bugedted (2011 Dollars): @ViewBag.csraTaxCollected</p>
					<p>Total Number of TIA Projects: @ViewBag.csraTotalProjects</p>
			  </div>
			</div>

			
		</div>
		<div id="rvinfo">
			<div class="panel panel-rv">
				<div class="panel-heading">
					<h2 class="panel-title">River Valley</h2>
				</div>
				<div class="panel-body">
					<!--<p>Tax Revenue Collected to date:@ViewBag.</p>-->
					<div style="text-align: center; width: 100%;">
						<div id="rvThermo" style="width: 80px; margin: auto"></div>
					</div>
					<p>TIA Funds Bugedted (2011 Dollars) :@ViewBag.rvTaxCollected</p>
					<p>Total Number of TIA Projects: @ViewBag.rvTotalProjects</p>
				</div>
			</div>
		</div>
	</div>
</div>



