@using GDOT_TIA.Models
@model GDOT_TIA.Models.ProjectPage
@{
    ViewBag.Title = "River Valley Project List";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}
@section scripts {
	<script type="text/javascript">
		$(function () {
			$("select").change(function () {
				var c= $('#countyList option:selected').val();
				var b= $('#bandList option:selected').val();
				var s= $('#statusList option:selected').val();
				var t= $('#typeList option:selected').val();
				$.ajax({
					url: "/Project/Filter?bandString=" + b + "&countyString=" + c + "&statusString=" +s + "&typeString=" + t + "&region=" + 2,
					type: "GET",
					/**/error: function (response) {
						alert("error " + response.toString());
					},
					success: function(partialView) {
						$('#plist').html('');
						$('#plist').html(partialView);
					}
				});
			});
			@{
				var startValue= Model.totals.TotalRevenueCollected / 1000000;
			}
			$('#thermo4').thermometer({
				startValue: '@startValue',
				minValue: 0,
				maxValue: 600,
				topText: "$600",
				middleText: "$300",
				bottomText: 0,
				liquidColour: '#f79646'
			});
		});

	</script>
}

<h1>River Valley Project List</h1>

<div class="row">
	<div class="col-md-4">
		<p style="font-size: 0.85em; font-weight: bold"><span class="blue">Total Projects:</span> <span class="rv">@Model.totals.TotalProjects</span><br />
			<span class="blue">Projects Under Construction:</span> <span class="rv">@Model.totals.TotalConstructionProjects</span><br />
			<span class="blue">Projects Completed:</span> <span class="rv">@Model.totals.TotalFinishedProjects</span><br />
			<span class="blue">TIA Funds Budgeted (2011 Dollars):</span> <span class="rv">@Model.totals.TotalFundsBudgeted.ToString("C2")</span><br />
			<span class="blue">Total Expenditure to Date (in millions):</span> <span class="rv">@Model.totals.TotalFundsSpent.ToString("C2")</span>
		</p><br />
	</div>
	<div class="col-md-3">
		<div style="text-align: center; width: 100%;">
			<div id="thermo4" style="width: 80px; margin: auto"></div>
		</div>
		<p style="text-align: center; font-weight: bold"><span class="blue">Tax Revenue Collected to Date</span><br />
			<span class="rv">@Model.totals.TotalRevenueCollected.ToString("C2")</span>
		</p>
	</div>
	
	<div class="col-md-5"></div>
</div>


			

<p>Filter projects by:</p>

<div class="row">
	<div class="col-md-2">
		<label for="countyList">County</label>
		<select id="countyList">
			<option value="">All</option>
			@{
				foreach (County c in Model.AllCounties)
				{
					<option value="@c.Code">@c.Description</option>
				}
				
			}
		</select>
	</div>
	<div class="col-md-2">
		<label for="bandList">Band</label>
		<select id="bandList" onchange="test(); FilterSelectionChanged($('#countyList option:selected').val(), $('#bandList option:selected').val(), $('#statusList option:selected').val(), $('#typeList option:selected').val())">
			<option value="">All</option>
			@{

				foreach (Band b in Model.AllBands)
				{
					<option value="@b.Code">@b.Description</option>
				}
			}

		</select>

	</div>
	<div class="col-md-2">
		<label for="typeList">Project Type</label>
		<select id="typeList" onchange="FilterSelectionChanged($('#countyList option:selected').val(), $('#bandList option:selected').val(), $('#statusList option:selected').val(), $('#typeList option:selected').val())">
			
			<option value="">All</option>
			@{

				foreach (ProjectTypes t in Model.AllProjectTypes)
				{
					<option value="@t.FullCode">@t.Description</option>
				}
			}
		</select>

	</div>
	<div class="col-md-2">
		<label for="statusList">Status</label>
		<select id="statusList" onchange="FilterSelectionChanged($('#countyList option:selected').val(), $('#bandList option:selected').val(), $('#statusList option:selected').val(), $('#typeList option:selected').val())">
			
			<option value="">All</option>
			@{

				foreach (ProjectStatus s in Model.AllProjectStatuses)
				{
					<option value="@s.Code">@s.Description</option>
				}
			}
		</select>

	</div>
</div>
<br />
<div id="plist">@Html.Partial("_ProjectList", Model)</div>