<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
	<link href="/Content/bootstrap.min.css" rel="stylesheet">
	<link href="/Content/site.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Fira+Sans:400,700,700italic' rel='stylesheet' type='text/css'>
	@RenderSection("css", required: false)
	<script type="text/javascript" src="/Scripts/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="/Scripts/bootstrap.v3.min.js"></script>
	<script type="text/javascript" src="/Scripts/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/Scripts/jquery.thermometer.js"></script>
	@RenderSection("scripts", required: false)
</head>
<body>
	@RenderSection("facebook", required: false)

	<div class="header">
        <div class="headeraccent">
            <a href="mailto:tia@dot.ga.gov" style="color: white; position: relative; top: -2px">
                <span class="glyphicon glyphicon-envelope contact-img" aria-hidden="true" style="position: relative; top: 4px; color: white"></span> TIA@dot.ga.gov</a>
			<a href="https://www.facebook.com/transportationinvestmentact" target="_blank">
                <img src="/Content/img/icon_facebook.png" alt="Follow us on Facebook" style="position: relative; top: -2px" /></a>
			<a href="https://twitter.com/TIAatGDOT" target="_blank">
                <img src="/Content/img/icon_twitter.png" alt="Follow us on Twitter" style="position: relative; top: -2px"  /></a>
        </div>
		<div class="min-container">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				  <div class="navbar-brand"><a href="/Home/"><img src="/Content/img/tia.png" class="logo" alt="Transportation Investment Act" /></a></div>
                  <div><h1>Transportation Investment Act<br /><span class="subtitle">Your Penny, Your Progress</span></h1></div>
        </div>
    </div>
    <div class="min-container">
		<br />
		<div class="row">
			<div class="col-sm-12 col-md-3 col-lg-3">
				<!-- Side nav column-->
				<br />
				<div id="navbar" class="nav nav-sidebar navbar-collapse collapse">
					<ul class="menu" id="tiaMenu" role="menu">
						<li>@Html.ActionLink("TIA Projects", "Index", "Project")</li>
						<li><a href="/Content/pdf/TIAFactSheet.pdf" target="_blank">Fact Sheet</a></li>
						<li>@Html.ActionLink("TIA Project Photos", "Gallery", "Home")</li>
						<li class="dropdown">
							<a href="#infoMenu" data-toggle="collapse" aria-expanded="false" aria-controls="infoMenu">Program Info & Reports <span class="caret"></span></a>
							<ul id="infoMenu" role="menu" class="dropdown-menu">
								<li>@Html.ActionLink("TIA Program Annual Reports", "AnnualReport", "Home")</li>
								<li>@Html.ActionLink("Citizens Review Panels", "CitizenReview", "Home")</li>
								<li>@Html.ActionLink("Final Investment Reports by Region", "Investment", "Home")</li>
								<li><a href="http://gsfic.georgia.gov/transportation-investment-act" target="_blank">TIA Collections Reports</a></li>
								<li>@Html.ActionLink("Regional Discretionary Funding Estimates", "Discretionary", "Home")</li>
								<li>@Html.ActionLink("Meeting Presentations", "MeetingPresentations", "Home")</li>
							</ul>
						</li>
						<li>@Html.ActionLink("Press Room", "News", "Home")</li>
						<li>@Html.ActionLink("Manuals", "Manuals", "Home")</li>
						<li>@Html.ActionLink("Procurement & Contracting", "Procurement", "Home")</li>
						<li>@Html.ActionLink("Frequently Asked Questions", "FAQ", "Home")</li>
					  </ul>
				  </div>
				<!-- Side nav column End-->
				<br />
			</div>
			<div class="col-md-9 col-lg-9">
				<div class="row">
				<!-- Main content column -->
				@RenderBody()

				</div>
			</div>
		</div>
	</div>
	
	<footer>
		<p>&copy; 2015 Georgia Department of Transportation | All Rights Reserved</p>
		<div class="row">
			<div class="col-md-2 contact col-md-offset-1">
				Kelvin Mullins<br />
				TIA Administrator<br />
				(404) 631-1675<br />
				<a href="mailto:kemullins@dot.ga.gov">kemullins@dot.ga.gov</a><br /><br />
			</div>
			<div class="col-md-2 contact">
				Kenneth Franks<br />
				TIA Regional Coordinator<br />
				RV & HOGA<br />
				(404) 631-1568<br />
				<a href="mailto:kfranks@dot.ga.gov">kfranks@dot.ga.gov</a><br /><br />
			</div>
			<div class="col-md-2 contact">
				Shrujal Amin<br />
				TIA Program Manager<br />
				(404) 631-1697<br />
				<a href="mailto:samin@dot.ga.gov">samin@dot.ga.gov</a><br /><br />
			</div>
			<div class="col-md-2 contact">
				Eric Wilkinson<br />
				TIA Regional Coordinator<br />
				CSRA & HOGA<br />
				(478) 538-8522<br />
				<a href="mailto:ewilkinson@dot.ga.gov">ewilkinson@dot.ga.gov</a><br /><br />
			</div>

			<div class="col-md-2 contact">
				Karen Judd<br />
				Communications<br />
				<a href="mailto:kjudd@dot.ga.gov">kjudd@dot.ga.gov</a><br /><br />
			</div>
		</div>
	</footer>
</body>
</html>
